body  { margin: 0; }
.content {
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
}

.item {
    flex: 1; 
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;   
}

.header {
    color: white;
    background-color: #F59A83;
}


ul {
    list-style: none;
    padding: 2px;
}

li {
    padding: 2px;
}

li.book-list-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

li.book-list-item.selected {
    background-color: #adadad;
}

table {
    width: 100%;
}
#book-word-details {
    overflow: scroll;
    
}
td {
    width: 50%;
}

input, button {
    padding: 4px;
}

.loader {
    margin: 5rem auto;
    text-align: center;
}

.loader svg {
    height: 5.5rem;
    width: 5.5rem;
    fill: #F59A83;
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
