# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Library.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Rajesh\source\repos\LibrarySample\.idea\.idea.Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
